<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/doregister" method="post">
    <h3>用户注册</h3>
    username：<input type="text" name="username"> <br>
    password：<input type="password" name="password"><br>
    <input type="submit" value="注册">
</form>
</body>
</html>